<html lang="ru">
    <head>
    <meta charset=utf-8>
    <script src="../index.js"></script>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    </head>
<body>
    <br/>
    <div id="main" class="container">
        <form class="" onsubmit="return searchUser(this);">
            <div class="input-group">
                <input class="form-control" name="search" type="text" />
                <span type="submit" class="input-group-addon">
                    <button class="glyphicon glyphicon-search " type="submit"></button>
                </span>
            </div>
        </form>
        <ul id="search-result" class="list-group">
        </ul>
        <div>
            <button onclick="showCreateUserForm();" class="btn btn-primary">
                Создать нового
            </button>
            <!--
                <a href='#' onclick="addUser('ivan','03','mail');">add!!!!</a>
                <a href='#' onclick="searchUser('ivan');">search!!!</a>
            -->

    </div>

    <div id="create-user-form" style="display:none;'">
        <br />
        <form class="form-horizontal" onsubmit="return createUser(this);">
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Name
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="uname" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Phone
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="uphone"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Email
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="uemail" />
                </div>
            </div>
            <div class="form-group">
               <div class="col-sm-offset-2 col-sm-10">
                 <button type="submit" class="btn btn-default">Create</button>
               </div>
             </div>
        </form>
    </div>


    <div id="show-user" style="display:none;">
            <h2>User Name</h2>
            <small class="phone">phone</small>, <small class="email"> email</small>
            <button class="btn btn-xs edit">Edit </button>
            <button class="btn btn-xs delete">Delete</button>
            <br/>
            <button class="add-bill btn">Add bill</button>

    </div>

    <div id="new-order-form" style="display:none;">
        <form class="form" onsubmit="Order.add(this); return false;">
            <label>Item:</label> <input name="iname" class="form-control" type="text">
            <label>Price: </label> <input name="icost" class="form-control" type="text">
            <button type="submit" class="btn btn-sm glyphicon glyphicon-plus" ></button>
        </form>
        <ul class="list-group" id='order-content'>
        </ul>
        <span id="new-order-form-total"></span>
        <span id="new-order-form-total-with-discount"></span>
        <button onclick="Order.submit();"> Submit </button>
        </form>
    </div>

    <!--
    <div id="user-form" display+>
            <h1> Name </h1>
            <h1> Surname </h1>
            <h1> Phone </h1>
            <h1> Discount </h1>
            <ul>
                <li click="addOrder()"> New </li>
                <li click="showOrder"> Last order 1 </li>
                <li click="showOrder"> Last order 2 </li>
                <li click="showOrder"> Last order 3 </li>
                <li click="showOrders()"> and 10 more.. </li>
            </ul>
    </div>
    -->
</body>
</html>
